.search-bar{
    padding: 5px 10px;
}
.blood-group {
    color: #e62b2b;
    margin: 5px;
    font-size: 20px;
    position: absolute;
    right:15px;
    bottom: 5px;
}
.phone-number {
    position: absolute;
    right:55px;
    bottom: 5px;
    margin: 5px;
}