<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="contact">
            <h2><span>Contact</span> {{contact.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Display Name</span></dt>
                <dd>
                    <span>{{contact.displayName}}</span>
                </dd>
                <dt><span>Phone Number</span></dt>
                <dd>
                    <span>{{contact.phoneNumber}}</span>
                </dd>
                <dt><span>Email</span></dt>
                <dd>
                    <span>{{contact.email}}</span>
                </dd>
                <dt><span>Age</span></dt>
                <dd>
                    <span>{{contact.age}}</span>
                </dd>
                <dt><span>Is Eligible</span></dt>
                <dd>
                    <span>{{contact.isEligible}}</span>
                </dd>
                <dt><span>Address</span></dt>
                <dd>
                    <div *ngIf="contact.addressId">
                        <a [routerLink]="['/address', contact.addressId, 'view']">{{contact.addressId}}</a>
                    </div>
                </dd>
                <dt><span>Blood Group</span></dt>
                <dd>
                    <div *ngIf="contact.bloodGroupId">
                        <a [routerLink]="['/blood-group', contact.bloodGroupId, 'view']">{{contact.bloodGroupId}}</a>
                    </div>
                </dd>
                <dt><span>Contact Set</span></dt>
                <dd>
                    <span *ngFor="let contactSet of contact.contactSets; let last = last">
                        <a [routerLink]="['/contact', contactSet?.id, 'view' ]">{{contactSet.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/contact', contact.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
